<div class="mb-14 px-2">
  <div class="flex items-center gap-3">
    <div class="w-16 h-16 flex-shrink-0">
      <img alt="QNU Logo" class="object-contain w-full h-full" src="/images/logoQNU.jpg" />
    </div>
    <div class="leading-tight">
      <h1 class="app-sidebar-title font-bold font-headline text-lg">Quy Nhon</h1>
      <p class="app-muted-text uppercase tracking-widest font-bold text-[10px]">University</p>
    </div>
  </div>
</div>

<nav class="flex-1 space-y-3">
  @for (item of navItems; track item.route) {
  <a class="app-nav-link flex items-center gap-4 px-5 py-3 rounded-xl font-medium transition-all group relative overflow-hidden"
    [routerLink]="item.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <span class="material-symbols-outlined text-lg transition-colors group-hover:text-primary">{{ item.icon || 'folder'
      }}</span>
    <span class="font-headline text-sm">{{ item.label }}</span>
  </a>
  }
</nav>

<div class="app-sidebar-divider mt-auto pt-8 space-y-2">

  <button type="button" (click)="toggleTheme()"
    class="app-sidebar-action w-full flex items-center gap-4 px-5 py-2.5 rounded-xl font-medium transition-colors">
    <span class="material-symbols-outlined text-lg">
      {{ isDarkMode() ? 'light_mode' : 'dark_mode' }}
    </span>
    <span class="text-sm font-headline font-medium   ">Chế độ</span>
  </button>

  @if (authService.isLoggedIn()) {
  <button (click)="logout()"
    class="w-full flex items-center gap-4 px-5 py-2.5 rounded-xl text-error font-bold hover:bg-error/5 transition-colors mt-4">
    <span class="material-symbols-outlined text-lg">logout</span>
    <span class="text-xs font-headline">ĐĂNG XUẤT</span>
  </button>
  }
</div>