<div class="mb-14 px-2">
  <div class="flex items-center gap-3">
    <div class="w-16 h-16 flex-shrink-0">
      <img alt="QNU Logo" class="object-contain w-full h-full" src="/images/logoQNU.jpg" />
    </div>
    <div class="leading-tight">
      <h1 class="font-bold text-[#002555] font-headline text-lg">Quy Nhơn</h1>
      <p class="uppercase tracking-widest text-gray-500 font-bold text-[10px]">University</p>
    </div>
  </div>
</div>

<nav class="flex-1 space-y-3">
  @for (item of navItems; track item.route) {
  <a class="flex items-center gap-4 px-5 py-3 rounded-xl text-gray-600 font-medium hover:bg-gray-100 transition-all group relative overflow-hidden"
    [routerLink]="item.route" routerLinkActive="active-link" [routerLinkActiveOptions]="{ exact: true }">
    <span class="material-symbols-outlined text-lg transition-colors group-hover:text-primary">{{ item.icon || 'folder'
      }}</span>
    <span class="font-headline text-sm">{{ item.label }}</span>
  </a>
  }
</nav>

<div class="mt-auto pt-8 border-t border-gray-100 space-y-2">
  <button
    class="w-full flex items-center gap-4 px-5 py-2.5 rounded-xl text-gray-500 font-medium hover:bg-gray-100 transition-colors">
    <span class="material-symbols-outlined text-lg">language</span>
    <span class="text-xs font-headline">Ngôn ngữ</span>
  </button>
  <button
    class="w-full flex items-center gap-4 px-5 py-2.5 rounded-xl text-gray-500 font-medium hover:bg-gray-100 transition-colors">
    <span class="material-symbols-outlined text-lg">dark_mode</span>
    <span class="text-xs font-headline">Chế độ</span>
  </button>

  @if (authService.isLoggedIn()) {
  <button (click)="logout()"
    class="w-full flex items-center gap-4 px-5 py-2.5 rounded-xl text-error font-bold hover:bg-error/5 transition-colors mt-4">
    <span class="material-symbols-outlined text-lg">logout</span>
    <span class="text-xs font-headline">ĐĂNG XUẤT</span>
  </button>
  }
</div>